table{
  margin-top: 5%;
}

td{
  border: 1px solid;
}

.switch-btn{
    background-color: #ffa600;
    border: 3px solid #ff8800;
    width: 80px;
    height: 40px;
    color: white;
    margin: 20px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
