<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet"> 

    <!--CSS-->
    <link rel="stylesheet" href="css/recipie_builder.css">
    <link rel="stylesheet" href="css/sched_builder.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/snackbar.min.css">

    <!--VUE-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="js/vue/vue.js"></script>
    <script src="js/viz_graph/viz.js"></script>
    <script src="js/viz_graph/full.render.js"></script>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!--drag and drop-->
    <script src="https://unpkg.com/vue-draggable@1.0.9/lib/vue-draggable.js"></script>

    <!--snackbar-->
    <script src="js/snackbar/snackbar.min.js"></script>


</head>

<body>
    <div id="recipie-builder">
        <div class="menu">
            <button type="button" v-on:click="switchForms()">Switch forms</button>
            <button type="button" v-on:click="saveFile()">Save data</button>
            <button type="button" v-on:click="showImportFile()">Import data</button>
            <button type="button" v-if="!seenForms" class="UIS-NIS-btns-container" v-bind:class="{ 'UIS-NIS-btns-inactive': !uis, 'UIS-NIS-btns-active': uis }" v-on:click="uisNisSwitch()">UIS</button>
            <button type="button" v-if="!seenForms" class="UIS-NIS-btns-container" v-bind:class="{ 'UIS-NIS-btns-inactive': uis, 'UIS-NIS-btns-active': !uis }" v-on:click="uisNisSwitch()">NIS</button>
        </div>

        <div class="recipie-builder-tables" v-if="seenForms">
            <div class="row">
                <div id="products-table" class="col-">
                    <table>
                        <th type="button" data-toggle="collapse" data-target="#products"
                            v-on:click="changeArrowImgProducts()">
                            <span class="table-title">{{productsTableTitle}}</span>
                            <img :src="arrowImgProducts" id="products-arrow">
                        </th>
                        <tr>
                            <td class="title">
                                Product name
                            </td>
                        </tr>
                        <tr id="products" class="collapse show">
                            <td>
                                <form>
                                    <input type="text" v-model="inputProductName" id="productname"
                                        placeholder="Product name">
                                </form>
                            </td>
                            <td>
                                <form>
                                    <button type="button" v-on:click="addProduct()" class="add-btn">Add</button>
                                </form>
                            </td>
                        </tr>
                        <tr id="products" class="collapse show" v-for="(product, index) in products" :key="index">
                            <td>
                                {{product.name}}
                            </td>
                            <td>
                                <button type="button" v-on:click="deleteProduct(index)"
                                    class="delete-btn">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="tasks-table" class="col-">
                    <table>
                        <th colspan="2" type="button" data-toggle="collapse" data-target="#tasks" v-on:click="changeArrowImgTasks()">
                            <span class="table-title">{{tasksTableTitle}}</span>
                            <img :src="arrowImgTasks" id="tasks-arrow">
                        </th>
                        <tr>
                            <td class="title">
                                Task name
                            </td>
                            <td class="title">
                                Product
                            </td>
                        </tr>
                        <tr id="tasks" class="collapse show">
                            <td>
                                <form>
                                    <input type="text" v-model="inputTaskName" id="taskname" placeholder="Task name">
                                </form>
                            </td>
                            <td>
                                <select id="task_id" v-model="inputTaskProductName">
                                    <option v-for="(product, index) in products" :key="index" :value="product.name">
                                        {{product.name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <form>
                                    <button type="button" v-on:click="addTask()" class="add-btn">Add</button>
                                </form>
                            </td>
                        </tr>
                        <tr id="tasks" class="collapse show" v-for="(task, index) in tasks" :key="index">
                            <td>
                                {{task.name}}
                            </td>
                            <td>
                                {{task.product}}
                            </td>
                            <td>
                                <button type="button" v-on:click="deleteTask(index)"
                                    class="delete-btn">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="equipments-table" class="col-">
                    <table>
                        <th type="button" data-toggle="collapse" data-target="#eqs"  v-on:click="changeArrowImgEquipments()">
                            <span class="table-title">{{equipmentsTableTitle}}</span>
                            <img :src="arrowImgEquipments" id="equipments-arrow">
                        </th>
                        <tr>
                            <td class="title">
                                Equipment name
                            </td>
                        </tr>
                        <tr id="eqs" class="collapse show">
                            <td>
                                <form>
                                    <input type="text" v-model="inputEquipmentName" id="equipmentname"
                                        placeholder="Equipment name">
                                </form>
                            </td>
                            <td>
                                <form>
                                    <button type="button" v-on:click="addEquipment()" class="add-btn">Add</button>
                                </form>
                            </td>
                        </tr>
                        <tr id="equipments" class="collapse show" v-for="(equipment, index) in equipments" :key="index">
                            <td>
                                {{equipment.name}}
                            </td>
                            <td>
                                <button type="button" v-on:click="deleteEquipment(index)" class="delete-btn">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="precedences-table" class="col-">
                    <table>
                        <th colspan="2" type="button" data-toggle="collapse" data-target="#precedences" v-on:click="changeArrowImgPrecedences()">
                            <span class="table-title">{{precendencesTableTitle}}</span>
                            <img :src="arrowImgPrecedences" id="precedences-arrow">
                        </th>
                        <tr>
                            <td class="title">
                                From
                            </td>
                            <td class="title">
                                To
                            </td>
                        </tr>
                        <tr id="precedences" class="collapse show">
                            <td>
                                <select id="task_id" v-model="inputTaskPrecedenceFrom">
                                    <option v-for="(task, index) in precedenceTasksFrom" v-on:click="removePrecedenceTasksTo()" :key="index" :value="task">{{task.name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select id="task_id" v-model="inputTaskPrecedenceTo">
                                    <option v-for="(task, index) in precedenceTasksTo" v-on:click="removePrecedenceTasksFrom()" :key="index" :value="task">{{task.name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <button type="button" v-on:click="addPrecedence()" class="add-btn">Add</button>
                            </td>
                        </tr>
                        <tr id="precedences" class="collapse show" v-for="(precedence, index) in precedences" :key="index">
                            <td>
                                {{precedence.from.name}}
                            </td>
                            <td>
                                {{precedence.to.name}}
                            </td>
                            <td>
                                <button type="button" v-on:click="deletePrecedence(index)"
                                    class="delete-btn">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="proctimes-table" class="col-">
                    <table>
                        <th colspan="3" type="button" data-toggle="collapse" data-target="#proctimes" v-on:click="changeArrowImgProctimes()">
                            <span class="table-title">{{proctimesTableTitle}}</span>
                            <img :src="arrowImgProctimes" id="proctimes-arrow">
                        </th>
                        <tr>
                            <td class="title">
                                Task
                            </td>
                            <td class="title">
                                Equipment
                            </td>
                            <td class="title">
                                Proctime
                            </td>
                        </tr>
                        <tr id="proctimes" class="collapse show">
                            <td>
                                <select id="task_id" v-model="inputProctimeTask">
                                    <option v-for="(task, index) in tasks" :key="index" :value="task">{{task.name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select id="eq_id" v-model="inputProctimeEquipment">
                                    <option v-for="(equipment, index) in equipments" :key="index" :value="equipment">
                                        {{equipment.name}}</option>
                                </select>
                            </td>
                            <td>
                                <form>
                                    <input type="number" v-model="inputProctime" id="proctime" placeholder="Proctime"
                                        step="any">
                                </form>
                            </td>
                            <td>
                                <form>
                                    <button type="button" v-on:click="addProctime()" class="add-btn">Add</button>
                                </form>
                            </td>
                        </tr>
                        <tr id="proctimes" class="collapse show" v-for="(proctime, index) in allProctimes" :key="index">
                            <td>
                                {{proctime.name}}
                            </td>
                            <td>
                                {{proctime.equipment.name}}
                            </td>
                            <td>
                                {{proctime.proctime}}
                            </td>
                            <td>
                                <button type="button" v-on:click="deleteProctime(index)"
                                    class="delete-btn">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div id="recipie-graph" class="col-"></div>
            </div>
        </div>
        <div id="SchedGraphBuilder" v-if="!seenForms">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div id="sched-graph"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col card">
                        <svg id="gantt-diagram" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" v-bind:style="{ width : ganttWidth + 'px', height : ganttHeight + 'px' }"></svg>
                    </div>
                </div>
                <div class="row">
                    <div class="col card">
                        <div class="drag-and-drop">        
                            <div v-for="(dragdrop, index) in dragDropPrecedences">
                                <div v-drag-and-drop:options="dragAndDropOptions">
                                    <ul class="sched-table" :id="dragdrop.equipment">
                                        <div style="background: #333333; color: white; text-align: center; font-weight: bold; margin-bottom:3px; padding-bottom:3px">
                                            <span>{{dragdrop.equipment}}</span>
                                        </div>
                                        <li v-for="(task, index) in dragdrop.tasks"  style="background: #E2E2E2">
                                            <span>{{task}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col card">
                        <div class="card-header">
                            <span v-if="!circle">Longest path</span>
                            <span v-if="circle">Circle</span>
                        </div>
                        <ul v-if="!circle" class="list-group list-group-flush">
                            <li class="list-group-item">Start task: {{longestPathStartTask}}</li>
                            <li class="list-group-item">End product: {{longestPathEndTask}}</li>
                            <li class="list-group-item">Time: {{longestPathTime}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--<table class="container">
                <tr>
                    <td>
                        <div class="UIS-NIS-btns-container col-">
                          <button type="button" v-bind:class="{ 'UIS-NIS-btns-inactive': !uis, 'UIS-NIS-btns-active': uis }" v-on:click="uisNisSwitch()">UIS</button>
                          <button type="button" v-bind:class="{ 'UIS-NIS-btns-inactive': uis, 'UIS-NIS-btns-active': !uis }" v-on:click="uisNisSwitch()">NIS</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> 
                        <div class="col- drag-and-drop">        
                            <div v-for="(dragdrop, index) in dragDropPrecedences">
                                <div v-drag-and-drop:options="dragAndDropOptions">
                                    <ul class="sched-table" :id="dragdrop.equipment">
                                        <div style="background: #333333; color: white; text-align: center; font-weight: bold; margin-bottom:3px; padding-bottom:3px">
                                            <span>{{dragdrop.equipment}}</span>
                                        </div>
                                        <li v-for="(task, index) in dragdrop.tasks"  style="background: #E2E2E2">
                                            <span>{{task}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div id="sched-graph"></div>
                    </td>
                </tr>
                <tr>
                    <td class="recipie-builder-tables">
                        <div v-if="!circle" class="col- longest-path-properties">
                            <table>
                                <th colspan="2">
                                    Longest path
                                </th>
                                <tr>
                                    <td class="title">
                                        Start task
                                    </td>
                                    <td style="font-weight: bold"> 
                                        {{longestPathStartTask}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">
                                        End product
                                    </td>
                                    <td style="font-weight: bold"> 
                                        {{longestPathEndTask}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">
                                        Time
                                    </td>
                                    <td style="font-weight: bold"> 
                                        {{longestPathTime}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div v-if="circle" class="col- longest-pathproperties">
                            <table>
                                <th>
                                    Circle
                                </th>
                            </table>
                        </div>
                    </td>
                    <td>
                        <div class="scroll">
                            <svg id="gantt-diagram" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" v-bind:style="{ width : ganttWidth + 'px', height : ganttHeight + 'px' }"></svg>
                        </div>
                    </td>
                </tr>
            </table>-->
        </div>

      

        <div id="import-file" v-if="showImport">
            <input type="file" v-on:change="readTextFile" style="background: #333; border: none; color: white">
        </div>
    </div>

    <script src="js/recipie_builder/recipie_graph_builder.js"></script>
    <script src="js/recipie_builder/recipie_builder.js"></script>
    <script src="js/recipie_builder/equipment.js"></script>
    <script src="js/recipie_builder/product.js"></script>
    <script src="js/recipie_builder/task.js"></script>
    <script src="js/sched_builder/sched_builder.js"></script>
    <script src="js/sched_builder/sched_graph_builder.js"></script>
    <script src="js/sched_builder/circle.js"></script>
</body>

</html>