<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RecipeBuilder</title>

    <link rel="stylesheet" href="style.css">

    <!--VUE-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->

    <script src="vue.js"></script>
    <script src="vizGraphRender.js"></script>
    <script src="viz.js"></script>
    <script src="full.render.js"></script>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--drag and drop-->
    <script src="https://unpkg.com/vue-draggable@1.0.9/lib/vue-draggable.js"></script>


</head>
<body>
    <div id="content">
      <div class="tables" class="container">
        <div id="RecipieBuilder" v-if="seenForms">
          <div class="row">
            <div class="col-lg">
              <table> <!--PRODUCTS-->
                  <th >
                    Add new product
                  </th>
                  <tr>
                    <td class="title">
                      Product name
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <form>
                        <input type="text" v-model="productName" id="productname" placeholder="Product name">
                      </form>
                    </td>
                    <td >
                      <form>
                          <button type="button" v-on:click="addProduct()" class="addBtn">Add</button>
                      </form>
                    </td>
                  </tr>
                  <tr v-for="(product, index) in products" :key="index">
                    <td>
                        {{product}}
                    </td>
                    <td>
                      <button type="button" v-on:click="deleteProduct(index)" class="deleteBtn">Delete</button>
                    </td>
                  </tr>
              </table>
            </div>
            <div class="col-lg">
              <table> <!--TASKS-->
                  <th>
                    Add new task
                  </th>
                  <tr>
                    <td class="title">
                      Task name
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <form>
                        <input type="text" v-model="taskName" id="taskname" placeholder="Task name">
                      </form>
                    </td>
                    <td>
                      <select id="task_id" v-model="product">
                        <option v-for="(product, index) in products" :key="index" :value="product">{{product}}</option>
                      </select>
                    </td>
                    <td>
                      <form>
                          <button type="button" v-on:click="addTask()" class="addBtn">Add</button>
                      </form>
                    </td>
                  </tr>
                  <tr v-for="(t, index) in tasksAndProducts" :key="index">
                    <td>
                        {{t.name}}
                    </td>
                    <td>
                        {{t.product}}
                    </td>
                    <td >
                      <button type="button" v-on:click="deleteTaskAndTasksAndProducts(index)" class="deleteBtn">Delete</button>
                    </td>
                  </tr>
              </table>
            </div>
            <div class="col-lg">
              <table> <!--EQUIPMENTS-->
                <th>
                  Add new equipment
                </th>
                <tr>
                  <td class="title">
                    Equipment name
                  </td>
                </tr>
                <tr>
                  <td>
                    <form>
                      <input type="text" v-model="equipmentName" id="equipmentname" placeholder="Equipment name">
                    </form>
                  </td>
                  <td>
                    <form>
                        <button type="button" v-on:click="addEquipment()" class="addBtn">Add</button>
                    </form>
                  </td>
                </tr>
                <tr v-for="(eq, index) in equipments" :key="index">
                  <td>
                      {{eq}}
                  </td>
                  <td>
                    <button type="button" v-on:click="deleteEq(index)" class="deleteBtn">Delete</button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-lg">
              <table><!--PRECEDENCES-->
                <th>
                  Precedence
                </th>
                <tr>
                  <td class="title">
                    Task1
                  </td>
                  <td class="title">
                    Task2
                  </td>
                </tr>
                <tr>
                <td>
                    <select id="task_id" v-model="task1">
                      <option v-for="(task, index) in tmpTask1" :key="index" :value="task" v-on:click="removeTmpTask2()">{{task}}</option>
                    </select>
                  </td>
                  <td>
                    <select id="task_id" v-model="task2">
                      <option v-for="(task, index) in tmpTask2" :key="index" :value="task" v-on:click="removeTmpTask1()">{{task}}</option>
                    </select>
                  </td>           
                  <td >
                    <button type="button" v-on:click="addPrecedence()" class="addBtn">Add</button>
                  </td>
                </tr>
                <tr v-for="(precedence, index) in precedences" :key="index">
                  <td>
                      {{precedence.task1}}
                  </td>
                  <td>
                      {{precedence.task2}}
                  </td>
                  <td >
                    <button type="button" v-on:click="deletePrecedenceFromHtml(index)" class="deleteBtn">Delete</button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-lg">
              <table><!--PROCTIMES-->
                <th>
                  Proctimes
                </th>
                <tr>
                  <td class="title">
                    Task
                  </td>
                  <td class="title">
                    Eq
                  </td>
                  <td class="title">
                    Proctime
                  </td>
                </tr>
                <tr>
                  <td>
                    <select id="task_id" v-model="proctime_task">
                      <option v-for="(task, index) in tasks" :key="index" :value="task">{{task}}</option>
                    </select>
                  </td>
                  <td>
                    <select id="eq_id" v-model="proctime_eq">
                      <option v-for="(eq, index) in equipments" :key="index" :value="eq">{{eq}}</option>
                    </select>
                  </td>
                  <td>
                    <form>
                      <input type="number" v-model="proctime" id="proctime" placeholder="Proctime">
                    </form>
                  </td>
                  <td >
                    <form>
                        <button type="button" v-on:click="addProctime()" class="addBtn">Add</button>
                    </form>
                  </td>
                </tr>
                <tr v-for="(proctime, index) in proctimes" :key="index">
                  <td>
                      {{proctime.task}}
                  </td>
                  <td>
                      {{proctime.eq}}
                  </td>
                  <td>
                      {{proctime.proctime}}
                  </td>
                  <td>
                    <button type="button" v-on:click="deleteProctimeFromHtml(index)" class="deleteBtn">Delete</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div id="recipieGraph" class="col-lg"></div>
          </div>
          <div>{{warningTxt}}</div>
        </div>
        <div id="SchedGraphBuilder" v-if="!seenForms">
          <div class="col-lg">
            <h1>sched sequence</h1>
            <div v-drag-and-drop:options="options" class="drag-wrapper">
              <ul id="schedTable">
                <li v-for="(item, index) in taskEquipment" :key="index">
                  <span>{{item.task}} {{item.eqs[0]}}</span>
                </li>
              </ul>
              <div class="col-lg" id="schedGraph"></div>
            </div>
          </div>
        </div>
        <button type="button" class="switchBtn" v-on:click="switchForms()">Switch</button>
      </div>
    </div>
  </body>
  <script src="RecipeBuilder.js"></script>
</html>
