table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 15px;
}

td, th{
    border: 1px solid #dddddd;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

th {
    background-color: #444444;
    color: white;
    font-size: 15px;
    padding: 4px;
}

td{
    font-size: 12px;
    width: 100px;
    padding: 6px;
}

input, select {
    text-align: center;
    width: 80%;
}

button{
    width: 100%;
}

.tables{
    float: left;
}