.tables table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 15px;
    float: left;
}

.tables td, .tables th{
    border: 1px solid #dddddd;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.tables th {
    background-color: #444444;
    color: white;
    font-size: 15px;
    padding: 4px;
}

.tables td{
    font-size: 12px;
    width: 100px;
    padding: 6px;
}

input, select {
    text-align: center;
    width: 80%;
}

.title{
    font-weight: bold;
    background-color: #e2e2e2;
}

.addBtn, .deleteBtn{
    width: 100%;
    color:white;
    font-weight: bold;
}

.addBtn{
    background-color: #37acc9;
    border: 3px solid #37acc9;
}

.deleteBtn{
    background-color: #c94d37;
    border: 3px solid #c94d37;
}